body {
  background-color: #000
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
  justify-content: center;
}

.movie-cover{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.movie-card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  background-color: #fdfffc;
  border-radius: 0 0 5px 5px;
}

.movie-card {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 5px;
  overflow: hidden;
  width: 300px;
  
}

.input-search {
    width: 100%;
    border: none;
    border-radius: 25px;
    height: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05 );
    outline: 0;
    margin-bottom: 20px;
}